{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<div class="container" style="padding-top:3cm;">
  <div class="well">
    <div class="row">
      <div class="container" align="center">
	<h2>{{aakashcenter.name}}</h2>
	<p class="text-muted">RC_ID: <strong>{{aakashcenter.ac_id}}</strong></p>
	<p class="text-muted"><strong>{{aakashcenter.city}}, {{aakashcenter.state}}</strong></p>
      </div>
      {% for c in coordinator %}
      <div class="col-md-8 well">
	  <p><strong>Coordinator details:</strong></p>
	  <table border=0>
	  <!-- {{c.id}} -->
	  <tr>
	  <td>Name:</td>
	  <td>{{c.user.first_name|capfirst}} {{c.user.last_name|capfirst}}</td>
	  </tr>
	  <tr>
	  <td>Contact:</td>
	  <td>{{c.contact}}</td>
	  <tr>
	  <td>E-mail:</td>
	  <td>{{c.user.email}}</td>
	  </table>
      </div> <!-- col-md-8 -->
      <div class="col-md-4" align="center">
	  {% if c.picture %}
	  <a id="image_link" rel="imagezoom" href="media/{{c.picture}}" >	
	    <img src="media/{{c.picture}}" height="140" width="240" class="img-thumbnail">
	  </a>
	  {% else %}
	  <img src="{% static 'images/no_image_available.png' %}" height="140" width="240" class="img-thumbnail">
	  {% endif %}
      </div>   <!-- col-md-4 -->
      {% endfor %}
      <div class="container" align="center">
	  {% if projects %}
	  <h3>List of project{{projects|pluralize}} <span class="badge">{{projects|length}}</span></h3>
	  <table border=1 cellpadding="10">
	    <form id="download_project_form" method="post">
	      {% csrf_token %}
	  {% for project in projects %}
	  <tr>
	    <td>
	      {{forloop.counter}}. 
	    </td>
	    <td>
	      <a href="/ac/project/{{project.id}}">{{project.name}}</a><br>
	    </td>
	    <td>
	      <!-- {{project.id}} -->
	      <button name="download" value={{project.id}} class="btn btn-primary btn-mini">
		<i class="glyphicon glyphicon-download"></i>
		{{project.download_count}} download{{project.download_count|pluralize}}
	      </button>
	    </td>
	  </tr>
	  {% endfor %}
	  </form>
	  </table>
	  {% else %}
	  <div class="container">
	    No projects.
	  </div>
	  {% endif %}
      </div>
    </div> <!-- row -->

  </div> <!-- well -->
</div>	 <!-- container -->
{% endblock body_block %}
