{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<div class="container" style="padding-top:3cm;">
  <div class="well">
    <p>We aim at developing useful Open Source applications and content
    for use on Aakash. These will encompass the entire educational
    spectrum from schools to colleges, and from vocational training to
    professional studies. Our goal is to complete useful development
    of engineering colleges, and to build a large community of
    thousands of these talented professional students and teachers, to
    carry out large scale development of applications and content for
    use in all schools and colleges. Content in Indian languages will
    receive special attention.</p>

    <p>Our long term vision is to create and sustain collaborative
    research efforts to work continuously on Aakash related R&D. IIT
    Bombay has several groups which work across disciplines, to
    address many hard research problems. Additionally, we have
    research teams focused on tackling many important problems for
    many national projects under NMEICT. Some of these are: ‘Talk to a
    teacher’ project, which includes ‘teach 1000 teachers’ programs,
    spoken tutorials, e-Yantra systems, virtual labs, educational
    animations, Free and Open Source software for Science and
    Engineering (FOSSEE), development of design contents, pedagogy for
    education using ICT, etc. Aakash project will coherently synergize
    all these efforts, to make the tablet an integral part of all the
    deliverables.</p>

    <p>Our initial efforts have already led to success in porting some
      key applications such as: use of digital video content developed
      using the ProxyMITY tool and spoken tutorials, ‘Clicker’
      classroom response system, controlling an educational Robot
      using Aakash, and basic programming environment for Aakash
      permitting programming in C, C++, Python, and Scilab. All the
      development work on Aakash can be tracked down at
      <a href="https://github.com/androportal">https://github.com/androportal</a>.</p>
    
  </div>
</div>
{% endblock body_block %}
