{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<div class="container" style="padding-top:2.5cm;">
  <div class="well">
    <img class="img-rounded img-responsive" src="{% static 'images/aakash_tablet_ms.jpg'%}"
	 width="420px" align="right" Hspace="10" Vspace="10">
    
    <p class="text-muted" align="justify">
      The Aakash Lab has been set up in the department of CSE
      (Computer Science and Engineering Department) at IIT Bombay, to
      drive this project. With the increasing convergence of
      communication and computing technologies, tablet computers are
      fast emerging as popular consumer devices. In coming years,
      Aakash is likely to become a ubiquitous tool in the hands of
      students, at all levels of their education.
    </p>

    
    <p class="text-muted" align="justify">
      Aakash Lab aims at developing useful Open Source applications
      and content for use on Aakash Tablet. These will encompass the
      entire educational spectrum from schools to colleges and from
      vocational training to professional studies. The goal is to
      complete the deployment at over 500 engineering colleges, and to
      build a large community of thousands of talented professional
      students and teachers from these colleges, to carry out large
      scale development of applications and content for use in all
      schools and colleges.
    </p>
    
    <p class="text-muted" align="justify">
      Building upon the past work at IIT Bombay, the team made
      substantial progress, and the work continues in full swing. It
      has added key functionalities through these applications.
      <ul class="text-muted" text-align="justify">
	<li>Students can now use video lectures (proxyMITY) in an
	interactive fashion. They can access these from a local server
	using W-Fi.</li>
	<li>They can give on-line Quizzes (Clicker) in the class and
	can submit assignments.</li>
	<li> They can conduct experiments and develop systems for
	Engineering control applications.</li> </ul>
    </p>
    
    <p class="text-muted" align="justify">
      Most importantly, the institute has succeeded in making
      available a programming environment, permitting students to
      write and run programs in C, C++, Python and Scilab. The open
      source package 'Scilab' has been successfully ported on
      Aakash. This effort emphasizes that Aakash is not just an access
      device anymore, but can be used also a regular computer for
      learning programming.
    </p>

    <p class="text-muted" align="justify">Our team at Aakash Labs has been involved in
    activities ranging from :
      <ul class="text-muted" text-align="justify">
	<li>Design and development of android based software
	applications to enhance learning experience of students.</li>
	<li>Conducting training workshop on Android Application
	programming for students at various remote centres.</li>
	<li>Creating educational 3D animation content as per the
	requirement of teachers and porting it on the tablet.</li>
	<li>Digitization of school textbooks with interactive content;
	and teachers and students training for using Aakash in
	schools.</li>
	<li>Conducting Android Application Development contests among
	remote centres to promote development of educational android
	applications.</li>
      </ul>
    </p>

    <p class="text-muted" align="justify">
      Also, students from various remote centres across the country
      have contributed in developing Applications for Aakash. All
      their work can be tracked down at <a href="/ac/projects/">Projects
      from students across remote centres.</a>
    </p>
  </div>
</div>
{% endblock body_block %}
