{% extends 'base.html' %}
{% load static %}


{% block body %}
<div class="container" style="padding-top:3cm;">
  <div class="well">
    <div class="row">
      <div class="container" align="center">
	<h2>{{remotecenter.name}}</h2>
	<p class="text-muted">RC_ID: <strong>{{remotecenter.rc_id}}</strong></p>
	<p class="text-muted"><strong>{{remotecenter.city}}, {{remotecenter.state}}</strong></p>
      </div>
      {% for c in coordinator %}
      <div class="col-md-8">
	<div class="container">
	  <p><strong>Coordinator details:</strong></p>
	  <table border=0>
	  <!-- {{c.id}} -->
	  <tr>
	  <td>Name:</td>
	  <td>{{c.user.first_name}} {{c.user.last_name}}</td>
	  </tr>
	  <tr>
	  <td>Contact:</td>
	  <td>{{c.contact}}</td>
	  <tr>
	  <td>E-mail:</td>
	  <td>{{c.user.email}}</td>
	  </tr>
	  </table>
	</div>
      </div>
      <div class="col-md-4">
	<div "container">
	  <a id="image_link" rel="imagezoom" href="media/{{c.picture}}" >	
	    <img src="media/{{c.picture}}" height="140" width="240" class="img-thumbnail">
	  </a>
	</div> <!-- image container -->
      </div>
      {% endfor %}
    </div>


  </div>
</div>
{% endblock body %}
